*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
} 
$color-blue: #007bff;
    $color-indigo: #6610f2;
    $color-purple-1: #6f42c1;
    $color-purple-2: #dcd1f3;
    $color-pink-1: #e83e8c;
    $color-pink-2: #b61984;
    $color-red: #dc3545;
    $color-orange: #fd7e14;
    $color-yellow: #ffc107;
    $color-green: #28a745;
    $color-teal: #20c997;
    $color-cyan: #17a2b8;
    $color-white: #fff;
    $color-gray: #6c757d;
    $color-gray-dark: #343a40;
    $color-primary: #007bff;
    $color-secondary: #6c757d;
    $color-success: #28a745;
    $color-info: #17a2b8;
    $color-warning: #ffc107;
    $color-danger: #dc3545;
    $color-light: #f8f9fa;
    $color-dark: #343a40;

    //breakpoint 
    $breakpoint-xs: 0;
    $breakpoint-sm: 576px;
    $breakpoint-md: 768px;
    $breakpoint-lg: 992px;
    $breakpoint-xl: 1200px;

    //font weight
    $fw-1:600;
    $lh-1:80px;
    //font size
    $fs-1:1.1rem;
    $fs-2:.75rem;
    //padding
    $pd-1:20px;
    
    $pd-2:30px;
    $pd-3:40px;
    $pd-4:50px;
    $pd-5:60px;
    //margin bottom
    $mb-1:0.7em;
    //border radius
    $br-1:50px;